
<li><div class="container">
	{{#link-to 'question' question.id}}
{{question.qtn}} <br>
{{/link-to}}{{question.author}}'s {{#link-to 'about'}}<button class="tags">js</button> {{/link-to}}{{#link-to 'about'}}<button class="tags">python</button> {{/link-to}}{{#link-to 'about'}}<button class="tags">ember</button> {{/link-to}}{{#link-to 'about'}}<button class="tags">angular</button> {{/link-to}}		</div><br> </li>
