.nav-right{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
nav{
  background-color: #f2eeea;
}
li{
	list-style-type: none;
}
.tags:hover{
	background-color: rgb(157, 203, 236);
}
.qtn-button{
display: flex;
justify-content: flex-end;
}
footer{
  text-align: center;
}
.span3{

}
#things-right{
  border-left: 1px solid rgb(240, 245, 242);
  background-color:#e2d9d0;
}
#brand-image{
  bottom: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 60px; width:60px;
}
