<h2>Q and A Board</h2>

<p>TheQ and A Board website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>
