<div class="container">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<body>

	<div id="main">
	  <!-- Fixed navbar -->
	          <nav id="header" class="navbar navbar-fixed-top">
	              <div id="header-container" class="container navbar-container">
	                  <div class="navbar-header">
	                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                          <span class="sr-only">Toggle navigation</span>
	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                      </button>
	                      <a id="brand" class="navbar-brand" href="#"><img src="https://cdn.sstatic.net/Sites/askubuntu/img/apple-touch-icon@2.png?v=c492c9229955" style="height: 50px; width:50px;"></a>
	                  </div>
	                  <div id="navbar" class="collapse navbar-collapse">
	                      <ul class="nav navbar-nav">
	                          <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
	                          <li>{{#link-to 'about'}}About{{/link-to}}</li>
	                          <li><a href="#contact">Contact</a></li>
														<li><a href="signup">SignUp</a><span> </span></li>
	                      </ul>
												<div class="nav-right">
													<button type="button" data-toggle="modal" data-target="#myModal" name="button"><span class="glyphicon glyphicon-search" ></span></button>
												</div>
	                  </div><!-- /.nav-collapse -->
										<!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
	 <div class="modal-dialog">

		 <!-- Modal content-->
		 <div class="modal-content">
			 <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 <h4 class="modal-title">Search</h4>
			 </div>
			 <div class="modal-body">
				 <textarea></textarea>
				 <button type="button" class="btn btn-default" data-dismiss="modal">Search</button>
			 </div>
			 <div class="modal-footer">
				 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			 </div>
		 </div>

	 </div>
 </div>

	              </div><!-- /.container -->
	          </nav><!-- /.navbar -->
	<br><br><hr>
	
	<div class="body-here">
		{{outlet}}
	</div>



	</div>

	</body>
	<hr>
	<footer>
	  © Isaiah 2017
	</footer>

</div>
