<div class="container">
	<!-- question details -->
	{{question-detail question=model destroyQuestion="destroyQuestion"}}
	<!-- updating question -->
	{{update-question question=model update="update"}}
	<!-- adding a new answer -->
	{{new-answer question=model saveAnswer="saveAnswer"}}
	
</div>
